<div>
  <h1>Great Destinations to Visit</h1>
</div>

<div class = "index">
    <% @destinations.each do |destination| %>

        
        <h2><%= destination.name %></h2>

        
      
      <tr>
        <td><%= link_to 'Show', destination %></td>
        <td><%= link_to 'Edit', edit_destination_path(destination) %></td>
        <td><%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr><br>

    <% end %>



        <h2><%= link_to 'New Destination', new_destination_path %></h2>
</div>


    