<p id="notice"><%= notice %></p>

<p>
  <h3><b>Name:</b></h3>

	<h1><%= @destination.name %></h1>
	<img src="<%=@destination.image_url%>" %>
	
  
</p>


<h3><%= link_to 'Edit', edit_destination_path(@destination) %></h3>
<h3><%= link_to 'Back', destinations_path %></h3>

