<%= form_for(@attraction, :url => destination_attractions_path(@attraction.destination)) do |f| %>

  <div class="field">
    <br><%= f.label :name %>
    <%= f.text_field :name %><br />

    <br><%= f.label :image_url %>
    <%= f.text_field :image_url %><br />

    <br><%= f.label :destination_id %>
    <%= f.text_field :destination_id %><br />

    <br><%= f.label :latitude %>
    <%= f.text_field :latitude %><br />

    <br><%= f.label :longitude %>
    <%= f.text_field :longitude %><br />

  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

